<html ng-app="visualizator" >
	<div class="col-lg-6 panel panel-primary" style="float:left">
		<div class="panel-heading">Sections</div>
		<form class="form-inline">
			<div class="form-group">
				<label >Search</label>
				<input type="text" ng-model="searchSection" class="form-control" placeholder="Search">
			</div>
		</form>	
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th ng-click="sortSection('name')">Name
						<span class="glyphicon sort-icon" ng-show="sortSectionKey=='name'" ng-class="{'glyphicon-chevron-up':reverseSection,'glyphicon-chevron-down':!reverseSection}"></span>
					</th>
					<th ng-click="sortSection('address')">Address
						<span class="glyphicon sort-icon" ng-show="sortSectionKey=='address'" ng-class="{'glyphicon-chevron-up':reverseSection,'glyphicon-chevron-down':!reverseSection}"></span>
					</th>
					<th ng-click="sortSection('memType')">Mem Type
						<span class="glyphicon sort-icon" ng-show="sortSectionKey=='memType'" ng-class="{'glyphicon-chevron-up':reverseSection,'glyphicon-chevron-down':!reverseSection}"></span>
					</th>
					<th ng-click="sortSection('size')">Size
						<span class="glyphicon sort-icon" ng-show="sortSectionKey=='size'" ng-class="{'glyphicon-chevron-up':reverseSection,'glyphicon-chevron-down':!reverseSection}"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="section in sections|orderBy:sortSectionKey:reverseSection|filter:searchSection|start:(currentSectionPage - 1)*pageSize|limitTo:pageSize">
					<td>{{section.name}}</td>
					<td>{{section.address}}</td>
					<td>{{section.memType}}</td>
					<td>{{section.size}}</td>
				</tr>
			</tbody>
		</table> 
		<div class="panel-footer">
			<pagination total-items="sections.length" items-per-page="pageSize" ng-model="currentSectionPage" max-size="10" class="pagination-sm"></pagination>
		</div>
	</div>
</html>