<html ng-app="visualizator" >
	<div class="col-lg-6 panel panel-primary" style="float:right">
		<div class="panel-heading">Symbols Elements</div>
		<form class="form-inline">
			<div class="form-group">
				<label>Search</label>
				<input type="text" ng-model="searchSymbol" class="form-control" placeholder="Search">
			</div>
		</form>	
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th ng-click="sortSymbol('address')">Address
						<span class="glyphicon sort-icon" ng-show="sortSymbolKey=='address'" ng-class="{'glyphicon-chevron-up':reverseSymbol,'glyphicon-chevron-down':!reverseSymbol}"></span>
					</th>
					<th ng-click="sortSymbol('memType')">Mem Type
						<span class="glyphicon sort-icon" ng-show="sortSymbolKey=='memType'" ng-class="{'glyphicon-chevron-up':reverseSymbol,'glyphicon-chevron-down':!reverseSymbol}"></span>
					</th>
					<th ng-click="sortSymbol('section')">Section
						<span class="glyphicon sort-icon" ng-show="sortSymbolKey=='section'" ng-class="{'glyphicon-chevron-up':reverseSymbol,'glyphicon-chevron-down':!reverseSymbol}"></span>
					</th>
					<th ng-click="sortSymbol('size')">Size
						<span class="glyphicon sort-icon" ng-show="sortSymbolKey=='size'" ng-class="{'glyphicon-chevron-up':reverseSymbol,'glyphicon-chevron-down':!reverseSymbol}"></span>
					</th>
					<th ng-click="sortSymbol('symboltype')">Symbol Type
						<span class="glyphicon sort-icon" ng-show="sortSymbolKey=='symboltype'" ng-class="{'glyphicon-chevron-up':reverseSymbol,'glyphicon-chevron-down':!reverseSymbol}"></span>
					</th>
					<th ng-click="sortSymbol('type')">Type
						<span class="glyphicon sort-icon" ng-show="sortSymbolKey=='type'" ng-class="{'glyphicon-chevron-up':reverseSymbol,'glyphicon-chevron-down':!reverseSymbol}"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="symbolElem in symbolsElements|orderBy:sortSymbolKey:reverseSymbol|filter:searchSymbol|start:(currentSymbolsPage - 1)*pageSize|limitTo:pageSize">
					<td>{{symbolElem.address}}</td>
					<td>{{symbolElem.memType}}</td>
					<td>{{symbolElem.section}}</td>
					<td>{{symbolElem.size}}</td>
					<td>{{symbolElem.symboltype}}</td>
					<td>{{symbolElem.type}}</td>
				</tr>
			</tbody>
		</table> 
		<div class="panel-footer">
			<pagination total-items="symbolsElements.length" items-per-page="pageSize" ng-model="currentSymbolsPage" max-size="10" class="pagination-sm"></pagination>
		</div>
	</div>
</html>